<% include header %>

<section>
    <h4 id="titre">Liste de course</h4>
</section>

<section id="service">
    <div class="container">
        <div class="row">

            <!--1ere colonne-->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="text-align: left;">
                <div class="card">
                    <div class="card-body overflow-auto">
                        <h4>Viandes</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="bavette">
                            <label class="form-check-label" for="bavette">
                                Bavette
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="fauxfilet">
                            <label class="form-check-label" for="fauxfilet">
                                Faux-Filet
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="filetdepoulet">
                            <label class="form-check-label" for="filetdepoulet">
                                Filet de poulet
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="cuissedepoulet">
                            <label class="form-check-label" for="cuissedepoulet">
                                Cuisse de poulet
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="cheval">
                            <label class="form-check-label" for="cheval">
                                Cheval
                            </label>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body overflow-auto">
                        <h4>Epicerie</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="gateauchocolat">
                            <label class="form-check-label" for="gateauchocolat">
                                Gateau chocolat
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="crepe">
                            <label class="form-check-label" for="crepe">
                                Crepe
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="gauffre">
                            <label class="form-check-label" for="gauffre">
                                Gauffre
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="biscuit">
                            <label class="form-check-label" for="biscuit">
                                Biscuit
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <!--2eme colonne-->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="text-align: left;">
                <div class="card">
                    <div class="card-body overflow-auto">
                        <h4>Poissonnerie</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="merle">
                            <label class="form-check-label" for="merle">
                                Merle
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="saumon">
                            <label class="form-check-label" for="saumon">
                                Saumon
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="bar">
                            <label class="form-check-label" for="bar">
                                Bar
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="anguille">
                            <label class="form-check-label" for="anguille">
                                Anguille
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="dorade">
                            <label class="form-check-label" for="dorade">
                                Dorade
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="crevette">
                            <label class="form-check-label" for="crevette">
                                Crevette
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="homard">
                            <label class="form-check-label" for="homard">
                                Homard
                            </label>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body overflow-auto">
                        <h4>Boisson</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="eau">
                            <label class="form-check-label" for="eau">
                                Eau
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="coca">
                            <label class="form-check-label" for="coca">
                                Coca
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="fanta">
                            <label class="form-check-label" for="fanta">
                                Fanta
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="oasis">
                            <label class="form-check-label" for="oasis">
                                Oasis
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="pepsi">
                            <label class="form-check-label" for="pepsi">
                                Pepsi
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <!--3eme colonne-->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="text-align: left;">
                <div class="card">
                    <div class="card-body overflow-auto">
                        <h4>Légumes</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="brocolis">
                            <label class="form-check-label" for="brocolis">
                                Brocolis
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="concombre">
                            <label class="form-check-label" for="concombre">
                                Concombre
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Courgette">
                            <label class="form-check-label" for="Courgette">
                                Courgette
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Carotte">
                            <label class="form-check-label" for="Carotte">
                                Carotte
                            </label>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body overflow-auto">
                        <h4>Epicerie</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Sel">
                            <label class="form-check-label" for="Sel">
                                Sel
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Sucre">
                            <label class="form-check-label" for="Sucre">
                                Sucre
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Curry">
                            <label class="form-check-label" for="Curry">
                                Curry
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="piment">
                            <label class="form-check-label" for="piment">
                                Piment
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Thym">
                            <label class="form-check-label" for="Thym">
                                Thym
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Basilic">
                            <label class="form-check-label" for="Basilic">
                                Basilic
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Bouillon">
                            <label class="form-check-label" for="Bouillon">
                                Bouillon
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!--4eme colonne-->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="text-align: left;">
                <div class="card">
                    <div class="card-body overflow-auto">
                        <h4>Fruits</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="orange">
                            <label class="form-check-label" for="orange">
                                Orange
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="ananas">
                            <label class="form-check-label" for="ananas">
                                Ananas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="citron">
                            <label class="form-check-label" for="citron">
                                Citron
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="orange">
                            <label class="form-check-label" for="orange">
                                Orange
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="ananas">
                            <label class="form-check-label" for="ananas">
                                Ananas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="citron">
                            <label class="form-check-label" for="citron">
                                Citron
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="orange">
                            <label class="form-check-label" for="orange">
                                Orange
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="ananas">
                            <label class="form-check-label" for="ananas">
                                Ananas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="citron">
                            <label class="form-check-label" for="citron">
                                Citron
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="orange">
                            <label class="form-check-label" for="orange">
                                Orange
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="ananas">
                            <label class="form-check-label" for="ananas">
                                Ananas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="citron">
                            <label class="form-check-label" for="citron">
                                Citron
                            </label>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body overflow-auto">
                        <h4>Surgelé</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="glace">
                            <label class="form-check-label" for="glace">
                                Glaces
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="glacon">
                            <label class="form-check-label" for="glacon">
                                Glaçons
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="legumes">
                            <label class="form-check-label" for="legumes">
                                Légumes
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top: 5em;">Valider</button>

    

</section>

<% include footer %>
