<% include header %>
<!-- mathieu -->

<section class="container">
    <h4>Modifier ma famille actuel</h4>
    <div class="row">
        <% for (famille of famille){ %>
            <div class="card m-1" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= famille.nom %></h5>
                    <% if (famille.type == 1 ){ %>
                        <h6 class="card-subtitle mb-2 text-muted">Enfant</h6>
                    <% } else { %>
                        <h6 class="card-subtitle mb-2 text-muted">Adulte</h6>
                    <% } %>
                    <form action="/famille" method="post">
                        <input id="form" name="form" type="hidden" value="remove">
                        <input id="id" name="id" type="hidden" value="<%= famille.id %>">
                        <button type="submit" class="btn btn-outline-danger">Supprimer</button>
                    </form>
                    <a href="/modifier_famille/<%= famille.id %>" class="btn btn-outline-warning">Modifier</a>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item active">Spec Alim</li>
                        <% var loop = specAlim; %>
                        <% for (loop of loop){ %>
                            <% if (famille.id == loop.id_famille ){ %>
                                <li class="list-group-item"><%= loop.nom %></li>
                            <% } %>
                        <% } %>
                    </ul>

                </div>
            </div>
        <% } %>

    </div>
</section>

<% include footer %>
