<section>
    <footer>
        <div class="container-fluid">
            <div>
                <a class="bouton" href=""><i class="fa fa-facebook"></i></a>
                <a class="bouton" href=""><i class="fa fa-twitter"></i></a>
                <a class="bouton" href=""><i class="fa fa-instagram"></i></a>
                <a class="bouton" href=""><i class="fa fa-youtube"></i></a>
            </div>
        </div>
        <h6 class="blanc">
            <a href=email> contact@tapluka.com</a> | Copyright © TAPLUKA | Tous droits réservés
        </h6>
        <div id="newsletter" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <p class="blanc">
                Inscrivez vous à notre newsletter
            </p>
            <div class="input-group">
                <input type="email" class="form-control" placeholder="nom@email.com">
                <span class="input-group-btn">
							<button class="btn btn-info" type="submit">Inscription</button>
						</span>
            </div>
        </div>
    </footer>
</section>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/javascripts/script.js"></script>

</body>
</html>