		
	</div>
	<br><br>
	<div id="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-9 col-md-10 col-sm-12 col-xs-12 text-center">
				</div>
				<div class="col-lg-3 col-md-2 col-sm-12 col-xs-12 text-center">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
							<a href="#"><img  class="img-responsive" src="/images/img/logo-fb.PNG" alt=""/></a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
							<a href="#"><img id="" class="img-responsive" src="/images/img/logo-twitter.PNG" alt=""/></a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
							<a href="#"><img id="" class="img-responsive" src="/images/img/logo-yt.PNG" alt=""/></a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
							<a href="#"><img id="" class="img-responsive" src="/images/img/logo-snap.PNG" alt=""/></a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
							<a href="#"><img id="" class="img-responsive" src="/images/img/logo-insta.PNG" alt=""/></a>
						</div>
					</div>
				</div>			
			</div>			
		</div>
	</div>	
</body> 
</html>
