<% include headerI %>



<section id="service">
  <div class="container">
    <div class="row">

      <!--1ere colonne-->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="carre">
          <div class="icon">
            <a href="listecourse.html"><i class="fas fa-shopping-cart"></i></a>
          </div>
          <div class="icon-info">
            <h4>Liste de courses</h4>
            <p>
              Générez une liste de courses, en fonction du budget, des allergies, pour la semaine, pour un évènement
            </p>
          </div>
        </div>

        <div class="carre">
          <div class="icon">
            <a href="construction.html"><i class="fas fa-blender"></i></a>
          </div>
          <div class="icon-info">
            <h4>Thermomix</h4>
            <p>
              Recette compatible avec un robot mixeur, à vous de jouer !
            </p>
          </div>
        </div>

        <div class="carre">
          <div class="icon">
            <a href="construction.html"><i class="fas fa-pepper-hot"></i></a>
          </div>
          <div class="icon-info">
            <h4>Création de recette</h4>
            <p>
              Créez et partagez vos propres recettes à la communauté
            </p>
          </div>
        </div>
      </div>


      <!--2eme colonne-->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="carre">
          <div class="icon">
            <a href="construction.html"><i class="fas fa-calendar-alt"></i></a>
          </div>
          <div class="icon-info">
            <h4>Planning</h4>
            <p>
              Gérez vos repas, grâce à notre calendrier
            </p>
          </div>
        </div>

        <div class="carre">
          <div class="icon">
            <a href="construction.html"><i class="fas fa-coins"></i></a>
          </div>
          <div class="icon-info">
            <h4>Budget étudiant</h4>
            <p>
              Créez votre liste de courses en fonction de votre budget, vos restrictions et du nombre de personnes
            </p>
          </div>
        </div>

        <div class="carre">
          <div class="icon">
            <a href="construction.html"><i class="fas fa-comments"></i></a>
          </div>
          <div class="icon-info">
            <h4>Forum</h4>
            <p>
              Parlez à la communauté, créez des liens et parlez avec d'autres membres
            </p>
          </div>
        </div>
      </div>


      <!--3eme colonne-->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="carre">
          <div class="icon">
            <a href="construction.html"><i class="fas fa-book"></i></a>
          </div>
          <div class="icon-info">
            <h4>Recette de cuisine</h4>
            <p>
              Découvrez nos nombreuses recettes disponibles sur notre plateforme
            </p>
          </div>
        </div>

        <div class="carre">
          <div class="icon">
            <a href="construction.html"><i class="fas fa-globe-europe"></i></a>
          </div>
          <div class="icon-info">
            <h4>Spécialité du monde</h4>
            <p>
              Recette du monde, avec vos ingrédients
            </p>
          </div>
        </div>

        <div class="carre">
          <div class="icon">
            <a href="construction.html"><i class="fas fa-user-alt"></i></a>
          </div>
          <div class="icon-info">
            <h4>Préférences personnelles</h4>
            <p>
              Allergie, Intolérance, Préférence, Régimes (Végétarien, Cétogène, etc..)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<% include footer %>
