<% include header2 %>


	<% if (login == undefined){ %>
	<!-- Tous les questionnaires -->
	<div id="corps" class="container">
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"></div>
			<div id="div-img" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-center">	
				<img id="" class="img-responsive" src="/images/img/img3.PNG" alt=""/>
			</div>
			<div id="div-message" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-center">
				<div id="div-bienvenue" class="text-center">
					<h1>BIENVENUE !</h1>
					<h3>En manque d'idée pour le repas de ce soir ? On va vous aider, c'est parti !</h3>
				</div>
			</div>
			<div class="bordureRonde col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"></div>
		</div>
		<br/><br/>

		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"></div>
			<div  class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-center">	
				<div class="row">
					<div id="imgBack1" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
						<div class="white-div"><a href="/"><h6 class="content-white-div">Recettes</h6></a></div>
					</div>
					<div id="imgBack4" style="padding-bottom:0px" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
						<div class="white-div"><a href="/"><h6 class="content-white-div">Fil d'actualité</h6></a></div>
<div style=""><a class="twitter-timeline" data-height="320" href="https://twitter.com/Cuisineetmets?ref_src=twsrc%5Etfw">Tweets by Cuisineetmets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
					</div></div>
					<div id="imgBack3" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
						<div  class="white-div"><a href="/"><h6 class="content-white-div">Votre planning</h6></a></div>
					</div>
				</div>
			</div>			
			<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"></div>
		</div>
		<br/><br/>
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"></div>
			<div  class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-center">	
				<div class="row">
					<div id="imgBack2" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
						<div  class="white-div"><a href="/"><h6 class="content-white-div">Les plats du moment</h6></a></div>
					</div>
					<div id="imgBack5" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center" >
						<div  class="white-div"><a href="#"><h6 class="content-white-div">Fast Cook</h6></a></div>
					</div>
					<div id="imgBack6" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
						<div  class="white-div"><a href="#"><h6 class="content-white-div">Liste de courses</h6></a></div>
					</div>
				</div>
			</div>			
			<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"></div>
		</div>
		<br/>
<% }else{ %>



	<!-- Tous les questionnaires -->
	<div id="corps" class="container">
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"></div>
			<div id="div-img" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-center">	
				<img id="" class="img-responsive" src="/images/img/img3.PNG" alt=""/>
			</div>
			<div id="div-message" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-center">
				<div id="div-bienvenue" class="text-center">
					<h1>BIENVENUE !</h1>
					<h3>En manque d'idée pour le repas de ce soir ? On va vous aider, c'est parti !</h3>
				</div>
			</div>
			<div class="bordureRonde col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"></div>
		</div>
		<br/><br/>

		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"></div>
			<div  class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-center">	
				<div class="row">
					<div id="imgBack1" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
						<div class="white-div"><a href="/recherche"><h6 class="content-white-div">Recettes</h6></a></div>
					</div>
					<div id="imgBack4" style="padding-bottom:0px" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
						<div class="white-div"><a href="/"><h6 class="content-white-div">Fil d'actualité</h6></a></div>
<div style=""><a class="twitter-timeline" data-height="320" href="https://twitter.com/Cuisineetmets?ref_src=twsrc%5Etfw">Tweets by Cuisineetmets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
					</div></div>
					<div id="imgBack3" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
						<div  class="white-div"><a href="/recherchePlanning"><h6 class="content-white-div">Votre planning</h6></a></div>
					</div>
				</div>
			</div>			
			<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"></div>
		</div>
		<br/><br/>
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"></div>
			<div  class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-center">	
				<div class="row">
					<div id="imgBack2" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
						<div  class="white-div"><a href="/platsDuMoment"><h6 class="content-white-div">Les plats du moment</h6></a></div>
					</div>

					<div id="imgBack5" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
						<div  class="white-div"><a href="/"><h6 class="content-white-div">Fast Cook</h6></a></div>

					</div>
					<div id="imgBack6" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
						<div  class="white-div"><a href="/"><h6 class="content-white-div">Liste de courses</h6></a></div>
					</div>
				</div>
			</div>			
			<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center"></div>
		</div>
		<br/>
	<% } %>

<% include footer2 %>
