<% include header2 %>
	

	<div id="corps" class="container">
		<div class="row">
<div id="div-message" class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-center" style="margin-left:300px;height:150px">
				<div id="div-bienvenue" class="text-center" style="padding-top:20px">
					<h1>PLATS DU MOMENT !</h1>
					<h3 style="font-style: italic;"> Découvrer la sélection de la semaine </h3>
				</div>
			</div>
</div>
			</div>
<br>
    <div class="container-fluid p-0">
      <div class = "row">
	<div class="col-md-2 col-lg-2" style="margin-right:-50px"></div>
        <div class="col-md-3 col-lg-3"><img src="/images/rechercheRecette/1.jpg" class="img-responsive text-center float-right" alt="image" style="max-width: 70%;height: 30%;"></div>
        <div class="recette-content mx-auto mt-3 col-md-6 col-lg-6">
            </br><h2 class="grd-titre" style="display: inline"> <a href="/recette/1"> Crêpes </a></h2>
            <h4 class="ss-titre">Découvrez cette recette de crêpes très rapide à préparer. Une recette simple très classique qui, grâce à sa quantité d'oeufs, ne nécessite aucun repos de la pâte.</h4>
		</br></br>
	    <div class=" note">  Note /5</div>
            <div>
                <p></p>
            </div>
	</div>
      </div>
    </div>
<br>


	<div id="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-9 col-md-10 col-sm-12 col-xs-12 text-center">
				</div>
				<div class="col-lg-3 col-md-2 col-sm-12 col-xs-12 text-center">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
							<a href="#"><img  class="img-responsive" src="./img/logo-fb.PNG" alt=""/></a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
							<a href="#"><img id="" class="img-responsive" src="./img/logo-twitter.PNG" alt=""/></a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
							<a href="#"><img id="" class="img-responsive" src="./img/logo-yt.PNG" alt=""/></a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
							<a href="#"><img id="" class="img-responsive" src="./img/logo-snap.PNG" alt=""/></a>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
							<a href="#"><img id="" class="img-responsive" src="./img/logo-insta.PNG" alt=""/></a>
						</div>
					</div>
				</div>			
			</div>			
		</div>
	</div>	
</body> 
</html>

