<% include header %>

<section>
  <div>
    <h4 style="height: 500px;">Règles<br>En construction...</h4>
  </div>
</section>


<% include ../../../Downloads/Gestion-de-projet---Tapluka-HASCO/Gestion-de-projet---Tapluka-HASCO/views/footer.ejs %>
