body {
    font-family: 'Raleway';
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: bold;
    color: black;
}

.blanc
{
    color: white;
    font-weight: normal;
}

nav a img{
    width: 140px;
    margin:10px;
}

nav ul{
    display: inline;
    color: white;
}

nav ul li{
    display: inline;
    padding-left: 2em;
}

nav ul li a, nav ul li a:hover{
    color: white;
    text-decoration: none;
}

#connexion{
    margin: auto;
    margin-bottom: 15em;
}

#connexion h4{
    margin-bottom: 3em;
}

#newsletter{
    margin: auto;
    margin-top: 2em;
}

footer h6{
    margin-top: 1em;
}

#btn-close-plat{
  color: #C4151C;
  font-size: 50px;
  line-height: 0;
  position: absolute;
  right: 16px;
  padding-top: 10px;
  z-index: 999;
}

.btn-add-pers-plat {
  margin-left: -5%;
  margin-top: -6%;
}

.btn-popup-plat{
  margin-top: auto;
}

#btn-close-pers{
  color: #C4151C;
  font-size: 50px;
  position: absolute;
  right: -217%;
  top: -32px;
  z-index: 999;
}
