#recette-img-carousel{
width:60%;
}

.img-carou{
    height:400px;
}

.arrow-container{
    width:30px;
    background-color:#0cb8b6;
    border-radius:50px;
}
.titre-guide{
    background: grey;
}

.guide-conditions{
    border-top: 1px solid lightgrey;
    margin:0;
}

.guide-rep{
    border-bottom: 1px solid lightgrey;
    margin:0;
}

.ingredient{
    border-right: 1px solid lightgrey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}