/* titre */
.grd-titre{
    text-transform: uppercase;
}

.ss-titre{
    text-transform: uppercase;
}

@media(min-width:1024px){
    .grd-titre{
        font-size: 5em;
    }
    .ss-titre{
        font-size: 2em;
    }
}



/* carousel image */

@media (max-width:600px){
    .img-carou{
        height:340px;
    }
}

@media(min-width:768px) and ( max-width:950px){
    #recette-img-carousel{
        width:60%;
    }

    .img-carou{
        height:300px;
    }
}

@media(min-width:1024px) and ( max-width:1366px){
    #recette-img-carousel{
        width:70%;
    }

    .img-carou{
        height:500px;
    }
}

@media(min-width:1367px){
    #recette-img-carousel{
        width:50%;
    }

    .img-carou{
        height:500px;
    }
}


.arrow-container{
    width:30px;
    background-color:lightgrey;
    border-radius:50px;
}
/* étoile favoris */

.favoris-star{
    color:yellow;
}

.guide-conditions{
    border-top: 1px solid lightgrey;
    margin:0;
}

.guide-rep{
    border-bottom: 1px solid lightgrey;
    margin:0;
}

/* ingrédient */
.ingredient{
    border-right: 1px solid lightgrey;
}



/* liste étapes */
.liste-preparation {
    list-style: none;
    counter-reset: li;
}
/* numéro des étapes */
.numero-preparation{
    font-size:20px;
    counter-increment: li;
}
.liste-preparation .numero-preparation::before {
    content: counter(li);
    color: grey;
    display: inline-block;
    width: 2em;
    height:1.8em;
    margin-left: -2.5em;
    margin-right: 0.5em;
    direction: rtl;
    border-radius: 100%;
    box-shadow: 10px 5px 5px whitesmoke;
    text-align: center;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}